<!-- =-=-=-=-=-=-= Quote Modal =-=-=-=-=-=-= -->
      <div class="modal fade price-quote" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" id="lineModalLabel">Email for Price</h3>
               </div>
               <div class="modal-body">
                  <!-- content goes here -->
                  <form>
                     <div class="form-group  col-md-6">
                        <label>Your Name</label>
                        <input type="text" class="form-control" placeholder="Enter Your Name">
                     </div>
                     <div class="form-group  col-md-6">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Enter email">
                     </div>
                     <div class="form-group  col-md-12">
                        <label>Contact No</label>
                        <input type="text" class="form-control" placeholder="Contact No">
                     </div>
                     <div class="form-group  col-md-12">
                        <label>Comments</label>
                        <textarea placeholder="What is the price of the Honda Civic 2017 you have in your inventory?" rows="3" class="form-control">What is the price of the 2015 Honda Accord EX-L you have in your inventory?</textarea>
                     </div>
                     <div class="col-md-12"> <img src="images/captcha.gif" alt="" class="img-responsive"> </div>
                     <div class="clearfix"></div>
                     <div class="col-md-12 margin-bottom-20 margin-top-20">
                        <button type="submit" class="btn btn-theme btn-block">Submit</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- Product Preview Popup -->
<div class="quick-view-modal modalopen" id="ad-preview" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg ad-modal">
      <button class="close close-btn popup-cls" aria-label="Close" data-dismiss="modal" type="button"> <i class="fa-times fa"></i> </button>
      <div class="modal-content single-product">
         <div class="diblock">
            <div class="col-lg-7 col-sm-12 col-xs-12">
               <div class="clearfix"></div>
               <div class="flexslider single-page-slider">
                  <div class="flex-viewport">
                     <ul class="slides slide-main">
                        <li class=""><img alt="" src="images/single-page/1.jpg" title=""></li>
                        <li><img alt="" src="images/single-page/2.jpg" title=""></li>
                        <li class="flex-active-slide"><img alt="" src="images/single-page/3.jpg" title=""></li>
                        <li><img alt="" src="images/single-page/4.jpg" title=""></li>
                        <li><img alt="" src="images/single-page/5.jpg" title=""></li>
                        <li><img alt="" src="images/single-page/6.jpg" title=""></li>
                     </ul>
                  </div>
               </div>
               <div class="flexslider" id="carousels">
                  <div class="flex-viewport">
                     <ul class="slides slide-thumbnail">
                        <li><img alt="" draggable="false" src="images/single-page/1_thumb.jpg"></li>
                        <li><img alt="" draggable="false" src="images/single-page/2_thumb.jpg"></li>
                        <li class="flex-active-slide"><img alt="" draggable="false" src="images/single-page/3_thumb.jpg"> </li>
                        <li><img alt="" draggable="false" src="images/single-page/4_thumb.jpg"></li>
                        <li><img alt="" draggable="false" src="images/single-page/5_thumb.jpg"></li>
                        <li><img alt="" draggable="false" src="images/single-page/6_thumb.jpg"></li>
                        <!-- items mirrored twice, total of 12 -->
                     </ul>
                  </div>
               </div>
            </div>
            <div class=" col-sm-12 col-lg-5 col-xs-12">
               <div class="summary entry-summary">
                  <div class="ad-preview-details">
                     <a href="#">
                        <h4>Honda Civic Sports Edition 2017</h4>
                     </a>
                     <div class="overview-price">
                        <span>$36.000</span>
                     </div>
                     <div class="clearfix"></div>
                     <p>Tattooed fashion axe Blue Bottle butcher tilde. Pitchfork leggings meh Odd Future.Drinking vinegar. </p>
                     <ul class="ad-preview-info col-md-6 col-sm-6">
                        <li>
                           <span>Fabrication:</span>
                           <p>2013/2014</p>
                        </li>
                        <li>
                           <span>Speed:</span>
                           <p>160p/h</p>
                        </li>
                        <li>
                           <span>Mileage:</span>
                           <p>30.000km - 40.000km</p>
                        </li>
                        <li>
                           <span>Fuel:</span>
                           <p>Petrol</p>
                        </li>
                     </ul>
                     <ul class="ad-preview-info col-md-6 col-sm-6">
                        <li>
                           <span>Color:</span>
                           <p>Black</p>
                        </li>
                        <li>
                           <span>Transmition:</span>
                           <p>Automatic</p>
                        </li>
                        <li>
                           <span>Dors:</span>
                           <p>4/5</p>
                        </li>
                        <li>
                           <span>Engine:</span>
                           <p>2500cm3</p>
                        </li>
                     </ul>
                     <button class="btn btn-theme btn-block" type="submit">Contact Dealer</button>
                  </div>
               </div>
               <!-- .summary -->
            </div>
         </div>
      </div>
   </div>
</div>
<!-- / Product Preview Popup -->
