<!-- =-=-=-=-=-=-= Featured Listing =-=-=-=-=-=-= -->
<section class="custom-padding">
   <!-- Main Container -->
   <div class="container">
      <!-- Row -->
      <div class="row">
         <!-- Heading Area -->
         <div class="heading-panel">
            <div class="col-xs-12 col-md-12 col-sm-12 text-center">
               <!-- Main Title -->
               <h1>Latest <span class="heading-color"> Featured</span> Listings</h1>
               <!-- Short Description -->
               <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
            </div>
         </div>
         <!-- Middle Content Box -->
         <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="col-md-4 col-xs-12 col-sm-6">
               <!-- Ad Box -->
               <div class="category-grid-box">
                  <!-- Ad Img -->
                  <div class="category-grid-img">
                     <img class="img-responsive" alt="" src="img/posting/car-1.jpg">
                     <!-- Ad Status -->
                     <!-- User Review -->
                     <div class="user-preview">
                        <a href="#"> <img src="img/users/2.jpg" class="avatar avatar-small" alt=""> </a>
                     </div>
                     <!-- View Details --><a href="" class="view-details">View Details</a>
                     <!-- Additional Info -->
                     <div class="additional-information">
                        <p>Registration 2017</p>
                        <p> 3.0 Diesel</p>
                        <p> 230 HP</p>
                        <p> Body Coupe</p>
                        <p> 80 000 Miles</p>
                     </div>
                     <!-- Additional Info End-->
                  </div>
                  <!-- Ad Img End -->
                  <div class="short-description">
                     <!-- Ad Category -->
                     <div class="category-title"> <span><a href="#">Electronics & Gedgets</a></span> </div>
                     <!-- Ad Title -->
                     <h3><a title="" href="single-page-listing.html">Porsche 911 Carrera 2017 </a></h3>
                     <!-- Price -->
                     <div class="price">$96,100 <span class="negotiable">(Negotiable)</span></div>
                  </div>
                  <!-- Addition Info -->
                  <div class="ad-info">
                     <ul>
                        <li><i class="fa fa-map-marker"></i>London</li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
                     </ul>
                  </div>
               </div>
               <!-- Ad Box End -->
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
               <!-- Ad Box -->
               <div class="category-grid-box">
                  <!-- Ad Img -->
                  <div class="category-grid-img">
                     <img class="img-responsive" alt="" src="img/posting/house-4.jpg">
                     <!-- Ad Status -->
                     <!-- User Review -->
                     <div class="user-preview">
                        <a href="#"> <img src="img/users/4.jpg" class="avatar avatar-small" alt=""> </a>
                     </div>
                     <!-- View Details --><a href="" class="view-details">View Details</a>
                     <!-- Additional Info -->
                     <div class="additional-information">
                        <p>Size: 800 Sq. Ft</p>
                        <p> 2 Beds</p>
                        <p> 1 Full Bath</p>
                        <p> Single Family</p>
                        <p> Built in 2015</p>
                     </div>
                     <!-- Additional Info End-->
                  </div>
                  <!-- Ad Img End -->
                  <div class="short-description">
                     <!-- Ad Category -->
                     <div class="category-title"> <span><a href="#">Real Estate</a></span> </div>
                     <!-- Ad Title -->
                     <h3><a title="" href="single-page-listing.html">109 Dixon pharetra est</a></h3>
                     <!-- Price -->
                     <div class="price">$43,000</div>
                  </div>
                  <!-- Addition Info -->
                  <div class="ad-info">
                     <ul>
                        <li><i class="fa fa-map-marker"></i>London</li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
                     </ul>
                  </div>
               </div>
               <!-- Ad Box End -->
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
               <!-- Ad Box -->
               <div class="category-grid-box">
                  <!-- Ad Img -->
                  <div class="category-grid-img">
                     <img class="img-responsive" alt="" src="img/posting/look-6.jpg">
                     <!-- Ad Status -->
                     <!-- User Review -->
                     <div class="user-preview">
                        <a href="#"> <img src="img/users/6.jpg" class="avatar avatar-small" alt=""> </a>
                     </div>
                     <!-- View Details --><a href="" class="view-details">View Details</a>
                     <!-- Additional Info -->
                     <div class="additional-information">
                        <p>26 y/o female, Scorpio</p>
                        <p> Odessa, Ukraine</p>
                        <p> English(Basic)</p>
                        <p> Have no children</p>
                        <p> Height: 5'6" - 5'7" (166-170cm)</p>
                     </div>
                     <!-- Additional Info End-->
                  </div>
                  <!-- Ad Img End -->
                  <div class="short-description">
                     <!-- Ad Category -->
                     <div class="category-title"> <span><a href="#">Looking For</a></span> </div>
                     <!-- Ad Title -->
                     <h3><a title="" href="single-page-listing.html">Looking for a Husband</a></h3>
                     <!-- Price -->
                     <button data-toggle="modal" data-target=".price-quote" class="btn btn-success"><i class="fa fa-envelope-o"> </i>Send Message</button>
                  </div>
                  <!-- Addition Info -->
                  <div class="ad-info">
                     <ul>
                        <li><i class="fa fa-map-marker"></i>London</li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
                     </ul>
                  </div>
               </div>
               <!-- Ad Box End -->
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
               <!-- Ad Box -->
               <div class="category-grid-box">
                  <!-- Ad Img -->
                  <div class="category-grid-img">
                     <img class="img-responsive" alt="" src="img/posting/cam-2.jpg">
                     <!-- Ad Status -->
                     <!-- User Review -->
                     <div class="user-preview">
                        <a href="#"> <img src="img/users/2.jpg" class="avatar avatar-small" alt=""> </a>
                     </div>
                     <!-- View Details --><a href="" class="view-details">View Details</a>
                     <!-- Additional Info -->
                     <div class="additional-information">
                        <p>20.1 MP 1" Exmor RS BSI CMOS Sensor </p>
                        <p> BIONZ X Image Processor </p>
                        <p> Internal UHD 4K</p>
                        <p>3.0" 921.6k-Dot Tilting LCD Monitor </p>
                        <p> Sony 16-50mm f/3.5-5.6 OSS Zoom Lens </p>
                     </div>
                     <!-- Additional Info End-->
                  </div>
                  <!-- Ad Img End -->
                  <div class="short-description">
                     <!-- Ad Category -->
                     <div class="category-title"> <span><a href="#">Cameras & Accessories</a></span> </div>
                     <!-- Ad Title -->
                     <h3><a title="" href="single-page-listing.html">Sony Xperia Z5 </a></h3>
                     <!-- Price -->
                     <div class="price">$250 <span class="negotiable">(Negotiable)</span></div>
                  </div>
                  <!-- Addition Info -->
                  <div class="ad-info">
                     <ul>
                        <li><i class="fa fa-map-marker"></i>London</li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
                     </ul>
                  </div>
               </div>
               <!-- Ad Box End -->
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
               <!-- Ad Box -->
               <div class="category-grid-box">
                  <!-- Ad Img -->
                  <div class="category-grid-img">
                     <img class="img-responsive" alt="" src="img/posting/fur-1.jpg">
                     <!-- Ad Status --><span class="ad-status"> Featured </span>
                     <!-- User Review -->
                     <div class="user-preview">
                        <a href="#"> <img src="img/users/1.jpg" class="avatar avatar-small" alt=""> </a>
                     </div>
                     <!-- View Details --><a href="" class="view-details">View Details</a>
                     <!-- Additional Info -->
                     <div class="additional-information">
                        <p>5 Executive Tables</p>
                        <p>7 Sitting Chairs </p>
                        <p> 1 Sofa Set</p>
                        <p>2 executive Cabins </p>
                        <p> Double sofa 1</p>
                     </div>
                     <!-- Additional Info End-->
                  </div>
                  <!-- Ad Img End -->
                  <div class="short-description">
                     <!-- Ad Category -->
                     <div class="category-title"> <span><a href="#">Furniture And Toys</a></span> </div>
                     <!-- Ad Title -->
                     <h3><a title="" href="single-page-listing.html">45% Discount On Office furniture </a></h3>
                     <!-- Price -->
                     <div class="price">$500 <span class="negotiable">(Negotiable)</span></div>
                  </div>
                  <!-- Addition Info -->
                  <div class="ad-info">
                     <ul>
                        <li><i class="fa fa-map-marker"></i>London</li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
                     </ul>
                  </div>
               </div>
               <!-- Ad Box End -->
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
               <!-- Ad Box -->
               <div class="category-grid-box">
                  <!-- Ad Img -->
                  <div class="category-grid-img">
                     <img class="img-responsive" alt="" src="img/posting/car-3.jpg">
                     <!-- Ad Status --><span class="ad-status"> Featured </span>
                     <!-- User Review -->
                     <div class="user-preview">
                        <a href="#"> <img src="img/users/1.jpg" class="avatar avatar-small" alt=""> </a>
                     </div>
                     <!-- View Details --><a href="" class="view-details">View Details</a>
                     <!-- Additional Info -->
                     <div class="additional-information">
                        <p>Registration 2017</p>
                        <p> 3.0 Diesel</p>
                        <p> 230 HP</p>
                        <p> Body Coupe</p>
                        <p> 80 000 Miles</p>
                     </div>
                     <!-- Additional Info End-->
                  </div>
                  <!-- Ad Img End -->
                  <div class="short-description">
                     <!-- Ad Category -->
                     <div class="category-title"> <span><a href="#">Electronics & Gedgets</a></span> </div>
                     <!-- Ad Title -->
                     <h3><a title="" href="single-page-listing.html">2017 Honda Civic EX</a></h3>
                     <!-- Price -->
                     <div class="price">$18,200 <span class="negotiable">(Negotiable)</span></div>
                  </div>
                  <!-- Addition Info -->
                  <div class="ad-info">
                     <ul>
                        <li><i class="fa fa-map-marker"></i>London</li>
                        <li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
                     </ul>
                  </div>
               </div>
               <!-- Ad Box End -->
            </div>
         </div>
         <!-- Middle Content Box End -->
      </div>
      <!-- Row End -->
   </div>
   <!-- Main Container End -->
</section>
<!-- =-=-=-=-=-=-= Featured Listing End =-=-=-=-=-=-= -->
