<!-- menu start -->
         <nav id="menu-1" class="mega-menu">
            <!-- menu list items container -->
               <section class="menu-list-items">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <!-- menu logo -->
                          <ul class="menu-logo">
                             <li>
                                <a href="index.html"><img src="img/logo.png" alt="logo"> </a>
                             </li>
                          </ul>
                          <!-- menu links -->
                          <ul class="menu-links">
                             <!-- active class -->
                             <li class="active">
                                <a href="/"><i class="fa fa-home"></i> Inicio</a>
                             </li>
                             <li>
                                <a href="javascript:void(0)"><i class="fa fa-tags" aria-hidden="true"></i> Categorias <i class="fa fa-angle-down fa-indicator"></i></a>
                                <!-- drop down multilevel  -->
                                <ul class="drop-down-multilevel">
                                   <li><a href="">Bienes Raíces</a></li>
                                   <li><a href="">Bolsa de Trabajo</a></li>
                                   <li><a href="">Educación</a></li>
                                   <li><a href="">Electronica</a></li>
                                   <li><a href="">Hogar</a></li>
                                   <li><a href="">Mascotas</a></li>
                                   <li><a href="">Moda</a></li>
                                   <li><a href="">Servicios</a></li>
                                   <li><a href="">Vehículos</a></li>
                                </ul>
                             </li>
                             <li>
                                <a href="javascript:void(0)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                                <!-- drop down full width -->
                                <div class="drop-down grid-col-12">
                                   <!--grid row-->
                                   <div class="grid-row">
                                      <!--grid column 2-->
                                      <div class="grid-col-3">
                                         <h4>Blog</h4>
                                         <ul>
                                            <li><a href="blog.html">Blog With Right Sidebar</a></li>
                                            <li><a href="blog-1.html">Blog With Masonry Style</a></li>
                                            <li><a href="blog-2.html">Blog Without Sidebar</a></li>
                                            <li><a href="blog-details.html">Single Blog </a></li>
                                            <li><a href="blog-details-1.html">Single Blog (Adsense) </a></li>
                                         </ul>
                                      </div>
                                      <!--grid column 2-->
                                      <div class="grid-col-3">
                                         <h4>Miscellaneous</h4>
                                         <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="cooming-soon.html">Comming Soon</a></li>
                                            <li><a href="elements.html">Shortcodes</a></li>
                                            <li><a href="error.html">404 Page</a></li>
                                            <li><a href="faqs.html">FAQS</a></li>
                                         </ul>
                                      </div>
                                      <!--grid column 2-->
                                      <div class="grid-col-3">
                                         <h4>Others</h4>
                                         <ul>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="site-map.html">Site Map</a></li>
                                            <li><a href="post-ad-1.html">Post Ad</a></li>
                                         </ul>
                                      </div>
                                      <!--grid column 2-->
                                      <div class="grid-col-3">
                                         <h4>Detail Page</h4>
                                         <ul>
                                            <li><a href="post-ad-2.html">Post Ad 2</a></li>
                                            <li><a href="single-page-listing.html">Single Ad Detail</a></li>
                                            <li><a href="single-page-listing-2.html">Single Ad 2</a></li>
                                            <li><a href="single-page-listing-3.html">Single Ad (Adsense)</a></li>
                                            <li><a href="single-page-expired.html">Single Ad (Closed)</a></li>
                                         </ul>
                                      </div>
                                      <!--grid column 2-->
                                   </div>
                                </div>
                             </li>
                             <li>
                                <a href="/cuenta"><i class="fa fa-user-o" aria-hidden="true"></i> Mi Cuenta</a>
                             </li>
                             <li><a href="/register"  class="btn btn-light"><i class="fa fa-plus" aria-hidden="true"></i>Post Free Ad </a> </li>
                          </ul>
                  		</div>
                  </div>
               </div>
            </section>
         </nav>
         <!-- Navigation Menu End -->
